body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

ul,
p,
h1, h2, h3, h4, h5 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section {
  width: 1440px;
  margin: auto;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.header {
  height: 800px;
  font-style: normal;
  font-weight: 400;
  background-image: url(../img/banner_1.png);
}

.header_navi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_list {
  display: flex;
}

.header_item {
  margin-right: 50px;
}

.header_item a {
  color: #FFFFFF;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
}

.btn_header {
  width: 138px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #0D0D33;
  color: #FFFFFF;
  cursor: pointer;
}

.logo_header {
  width: 91px;
  height: 30px;
  margin-right: 440px;
  background-image: url(../../img/logo_header.svg);
}

.header_title {
  margin-bottom: 35px;
  font-size: 41px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
}

.header_text {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
}

.btn_our_work {
  width: 173px;
  height: 60px;
  background: #0A8BFE;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.banner_box {
  margin-top: 160px;
  color: #FFFFFF;
}

.border_line {
  width: 1px;
  height: 250px;
  background: #E8E8E8;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 53px;
}

.banner {
  margin-top: -80px;
}

.partner {
  display: flex;
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.partner_info {
  margin-top: 95px;
  margin-left: 40px;
}

.partner_title {
  width: 297px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: #000000;
}

.partner_text {
  width: 335px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #737373;
}

.wrapp_partner_list {
  margin-top: 95px;
  margin-left: 80px;
  margin-right: 50px;
}

.partner_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  margin-top: -50px;
}

.partner_item {
  flex-basis: calc(33.3333333333% - 50px);
  margin-left: 50px;
  margin-top: 50px;
  width: 165px;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #737373;
}

.about_title {
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  margin-top: 150px;
  color: #000000;
}

.about_text {
  margin-top: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #737373;
}

.about_list_link {
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.about_list_item:nth-last-child(-n+2) {
  margin-left: 100px;
}

.about_link:hover {
  cursor: pointer;
  color: #0A8BFE;
}

.about_list_link > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.whatWeDo_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -40px;
}

.whatWeDo_item {
  width: 560px;
  height: 220px;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  padding: 20px 40px 0 40px;
  flex-basis: calc(50% - 40px);
  margin-top: 40px;
  margin-left: 40px;
  padding: 40px;
}

.whatWeDo_item > h4 {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
}

.whatWeDo_item > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #737373;
  padding-top: 23px;
}

.btn_about_contactUs {
  display: block;
  margin: auto;
  margin-top: 50px;
  background: #0A8BFE;
  border-radius: 4px;
  width: 174px;
  height: 60px;
  color: #fff;
  border: none;
  margin-bottom: 150px;
}

.exp_header {
  background: #0E0E33;
}

.experience {
  display: block;
  box-sizing: border-box;
}

.experience_header {
  height: 880px;
  padding-top: 150px;
  box-sizing: border-box;
}

.experience_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.experience_list {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.experience_item {
  width: 170px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #FFFFFF;
}

.experience_item_digit {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
}

.experience_item_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  width: 168px;
  margin-top: 15px;
}

.exp_wprapp {
  padding: 30px;
}

.expCard {
  margin-top: -330px;
}

.expCard_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -30px;
}

.expCard_item {
  display: block;
  box-sizing: border-box;
  width: 545px;
  height: 655px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 10px 10px 0 10px;
  margin-bottom: 30px;
  flex-basis: calc(50% - 30px);
  margin-top: 40px;
  margin-left: 30px;
}

.expCard_item img {
  width: 545px;
  height: 402px;
}

.btn_see_more {
  width: 166px;
  height: 60px;
  background: #0A8BFE;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.exp_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.exp_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #737373;
  margin-top: 15px;
}

.logo_block {
  margin-top: 150px;
}

.logo_title {
  text-align: center;
  font-size: 41px;
  line-height: 50px;
}

.logo_text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-bottom: 70px;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  color: #737373;
  margin-top: 36px;
}

.logo {
  background: #FAFAFA;
  width: 100%;
  height: 381px;
}

.logo_list {
  display: flex;
  flex-wrap: wrap;
  padding: 84px;
}

.logo_item {
  width: 200px;
  height: 80px;
  margin-left: 30px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.reg_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -23px;
  margin-top: -30px;
}

.reg_item {
  height: 237px;
  width: 365px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-left: 23px;
  margin-top: 30px;
  flex-basis: calc(33.3333333333% - 23px);
  box-sizing: border-box;
  padding-top: 29px;
  padding-left: 20px;
}

.reg_title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  margin-top: 59px;
  margin-bottom: 31px;
}

.reg_app_dev {
  font-size: 15px;
  line-height: 30px;
  color: #737373;
}

.reg_city {
  font-size: 20px;
  line-height: 28px;
  display: block;
}

.reg_img {
  left: 225px;
  top: 25px;
  position: relative;
}

.call_back {
  box-sizing: border-box;
  height: 1036px;
  background-image: url(../img/img-office.png);
  padding-top: 414px;
}

.call_back_box {
  box-sizing: border-box;
  height: 571px;
  width: 600px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.call_back_title {
  margin-bottom: 125px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}

.btn_form {
  width: 174px;
  height: 60px;
  left: calc(50% - 87px);
  top: 481px;
  border: none;
  color: #FFFFFF;
  background: #0A8BFE;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.required {
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.details {
  box-sizing: border-box;
  color: #000;
  padding-left: 20px;
  padding-top: 10px;
  align-items: unset;
  width: 500px;
  height: 120px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  margin-bottom: 40px;
  resize: none;
}

.approv {
  background-color: #FAFAFA;
  height: 600px;
  margin-top: 159px;
  box-sizing: border-box;
  padding-left: 150px;
  padding-top: 150px;
}

.approv_box {
  height: 350px;
}

.approv_title {
  padding-bottom: 35px;
  font-size: 41px;
  line-height: 50px;
}

.approv_text {
  display: block;
  width: 469px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 30px;
  color: #737373;
}

.approv_list {
  display: flex;
}

.approv_item {
  width: 94px;
  height: 94px;
  margin-right: 30px;
}

.resources {
  height: 1177px;
  box-sizing: border-box;
  padding-top: 150px;
}

.resources_title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 42px;
  line-height: 50px;
}

.resources_text {
  text-align: center;
  margin-bottom: 75px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #737373;
}

.resources_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.resources_item {
  width: 360px;
  height: 677px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  flex-direction: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.resources_description {
  box-sizing: border-box;
  padding: 50px 40px 0 40px;
}

.description_title {
  font-size: 24px;
  line-height: 38px;
  font-style: normal;
  font-weight: 400;
}

.description_text {
  font-size: 16px;
  line-height: 30px;
  color: #737373;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}

.faq {
  background: #FAFAFA;
  padding-top: 150px;
  padding-bottom: 150px;
}

.faq_link {
  display: flex;
  justify-content: center;
  color: #0A8BFE;
}

.faq_title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
}

.faq_text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #737373;
  margin-top: 35px;
}

.faq_item {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.faq_btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url(../img/faq_btn.png);
}

.kickstart {
  padding-top: 150px;
  padding-bottom: 150px;
}

.kickstart_title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
}

.kickstart_text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 697px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  margin-top: 35px;
  color: #737373;
}

.wrapp_slide {
  outline: 1px solid #0A8BFE;
  margin-top: 75px;
}

.kickstart_list {
  display: flex;
}

.kickstart_item {
  width: 200px;
  height: 62px;
  border: 2px solid #E8E8E8;
  border-radius: 30px;
  color: #0A8BFE;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 13px;
}

.kick_wrapp_btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 200px;
  margin-top: 20px;
  justify-content: space-between;
}

.kick_btn_left {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../../img/kickstart-.svg);
}

.kick_btn_right {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #fff;
  background-image: url(../../img/kickstart+.svg);
  border-radius: 50%;
}

.footer {
  background-color: #0E0E33;
  color: white;
}

.footer_title {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 110px;
}

.about_us {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 150px;
  padding-bottom: 150px;
}

.block_1,
.block_2,
.block_3 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.block_1 > h3,
.block_2 > h3,
.block_3 > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.block_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom_list {
  display: flex;
}

.bottom_item {
  margin-right: 20px;
}

.bottom_link {
  color: white;
}

.ubout_item {
  display: flex;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  align-items: center;
}/*# sourceMappingURL=main.css.map */