.header_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.header{
    height: 800px;
    font-style: normal;
    font-weight: 400;
    background-image: url(../img/banner_1.png);
}
.header_navi{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header_list{
    display: flex;
}
.header_item{
    margin-right: 50px;
}
.header_item a{
    color: #FFFFFF;
    font-style: normal;
    font-size: 13px;
    line-height: 30px; 
}
.btn_header{
    width: 138px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #0D0D33;
    color: #FFFFFF;
    cursor: pointer;
}
.logo_header{
    width: 91px;
    height: 30px;
    margin-right: 440px;
    background-image: url(../../img/logo_header.svg);
}
.header_title{
    margin-bottom: 35px;
    font-size: 41px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
}
.header_text{
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
}
    
.btn_our_work{
    width: 173px;
    height: 60px;
    background: #0A8BFE;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
}
.banner_box{
    margin-top: 160px;
    color: #FFFFFF;
}